.kartu-galeri {
    border-radius: var(--radius-kartu);
    overflow: hidden;
    border: 1px solid #eee;
    background: #fff;
    box-shadow: 0 12px 28px rgba(0, 0, 0, .06);
}

.kartu-galeri img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    filter: sepia(18%);
    transition: .35s;
}

.kartu-galeri img:hover {
    filter: sepia(0%);
    transform: scale(1.05);
}